*{
  margin: 0;
  border: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: #f8f5ee;
}
/*navnar start*/
.nav{
      background-color: #F4F0E5;
      height: 6vh;
      padding: 5px;
      display: flex;
      align-items: center;
      gap: 116px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      border-bottom: 0.7px solid lightgrey;
    }
    
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #F4F0E5; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  display: block;
  transition: 0.3s;
  gap: 50px;
  border-bottom: 0.7px solid lightgrey;
  
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.logo0{
  height: 35px;
  width: 70px;
}
/*navbar end*/

.naamJap{
  height: 20vh;
  background-color: #f8f5ee;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.7px solid lightgrey;
  
}

.mala1{
  height: 100px;
  width: 100px;
  animation: rotate 10s linear infinite; /* Animation name, duration, timing function, iteration count */
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg); /* Start rotation angle */
    }
    to {
      transform: rotate(360deg); /* End rotation angle */
    }
  }
  
h2{
  font-size: 1.1rem;
  font-weight: 700;
  color: #cc5e33;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}


.inputJap{
 border-bottom: 0.7px solid lightgrey;
 padding: 5px;
}

.inputJap ul{
 list-style: none; 
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 margin-right: 35px;
}

.inputJap ul li a{
  text-decoration-line: none;
  color: #cc5e33;
  font-weight: 550;
}

.div-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 }

.JapaClick{
  height: 20vh;
  background-color: #f8f5ee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.7px solid lightgrey;
}


  .box {
    width: 120px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: bisque;
    border-radius: 5px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #cc5e33;
  }

  .hide {
    /*display: none;*/
  }

.count1{
  margin-top: 0px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  font-weight: 500;
  font-size: 1rem;
  color: #cc5e33;
  background-color: #f8f5ee;
}

.count1 #counter{
  margin-bottom: 6.8px;
}

.count1 button{
  background-color: bisque;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 1rem;
  color: #cc5e33;
  border: 0.4px solid lightgrey;
  border-radius: 4px;
  font-weight: 500;
}

  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    background-image: transparent;
  }

  .container > img {
    width: 150px;
    height: 150px;
    display: none;
    transition: transform 0.5s ease;
  }
  
  .container1{
    height: 20vh;
    background-color: #f8f5ee;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blink {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  .hero-image img{
    height: 140px;
  }
  
  .hero{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .naamJap-fayde{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
 .fayde{
    width: 90%;
  }
  
 .social-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  }
  
  .fa {
  padding: 5px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
    
  }
  
 .fa-instagram {
  background: #125688;
  color: white;
 }
 
 .fa-facebook {
   background: #3B5998;
   color: white;
 }
 
 .fa-twitter {
   background: #55ACEE;
   color: white;
 }
  
 .copyright{
   border-top: 0.9px solid black;
   padding-top: 10px;
   margin: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.6rem;
 }
 